@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3% 0;
}
header {
  margin-bottom: 1rem;
  margin: 0 auto;
}
main {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 1em;
  width: 100%;
  table-layout: fixed;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  /* background: white; */
  /* color: #111; */
  margin: 1rem 0;
  border: 1px solid;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.accordion-item-header::after {
  content: "+";
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 400;
}
.accordion-item-header.active::after {
  content: "-";
}
.accordioon-item-body {
  transform: all 0.3s ease;
  padding: 1rem;
  margin-left: 0 !important;
}
.accordion-item-body.hide {
  display: none;
}
.accordion-item-body-title {
  padding: 1rem;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5;
}
.accordion-item-body-content > ul > li {
  padding: 0 !important;
  margin-left: 0 !important;
}
.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.alert-danger,
.alert-success,
.alert-warning {
  margin-bottom: 1em;
  padding: 0.5em;
  color: white;
  border-radius: 5px;
  color: #333;
}
.alert-danger {
  background: lightcoral;
}
.alert-success {
  background: rgb(110, 207, 162);
}
.alert-warning {
  background: rgb(218, 218, 127);
}
/*  STICKY FOOTER   */
footer {
  width: 100%;
  color: rgb(117, 117, 117);
  letter-spacing: 1px;
  margin-top: auto;
}
footer a {
  color: rgb(59, 140, 172);
}
